<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="SiteURL" connectionString="https://practisebest555.sharepoint.com/sites/CollaborativePlatform"/>
    </connectionStrings>
    <appSettings>
        <add key="ViewName" value="All Items"/>
        <add key="UserId" value="dedicate@practisebest555.onmicrosoft.com"/>
        <add key="Password" value="ILOVE&amp;tenant123"/>
        <add key ="ListTitle" value="Address Book"/>
        <add key="Metadata Service Name" value="Taxonomy_xWjmxKeIkjdzTwp8L08M5g==" />
        <add key="DepartmentColumn" value="Department" />
        <add key="CoordinatorColumn" value="Coordinator" />
    </appSettings>
</configuration>